.App {
  overflow-x: hidden;
}

button {
  background-color: #000;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.15em;
  color: white;
  padding: 15px 35px;
  transition: all 0.3s;
  border-radius: 0;
  border: none;
}

/* Footer */
.footer {
  padding-bottom: 80px;
  color: #000;
}

.footer-divider {
  margin-bottom: 80px;
}

.footer h5 {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  overflow-y: hidden;
}

.footer a {
  display: block;
  color: #929292;
  font-size: 15px;
  font-weight: 300;
  overflow-y: hidden;
  margin-bottom: 15px;
}

/* Footer Responsive */
@media only screen and (max-width: 992px) {
  .footer {
    padding: 40px;
    text-align: center;
  }
  .footer h5 {
    margin: 10px 0;
  }
}
